.portfolio-hero {
  max-width: 1160px;
  width: calc(100% - 80px);
  padding-top: 5rem;
  height: 80vh;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.portfolio-hero-left,
.portfolio-hero-right {
  opacity: 0;
  flex: 1 1 0;
  transition: opacity 0.8s cubic-bezier(.4, 2, .6, 1), transform 0.8s cubic-bezier(.4, 2, .6, 1);
}

.portfolio-hero-left {
  transform: translateX(-80px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.portfolio-hero-right {
  transform: translateX(80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-in-left {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  opacity: 1;
  transform: translateX(0);
}

.title-portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.title-portfolio h1 {
  margin: 0;
}

.title {
  font-size: 4.5rem;
}

.point {
  font-size: 6rem;
  color: #FFC00D;
}

.description-portfolio {
  max-width: 470px;
}


.porfolio-img {
  position: relative;
  height: auto;
  width: 90%;
}

@media only screen and (max-width: 960px) {
  .description-portfolio p {
    font-size: 0.9rem;
  }

}

@media only screen and (max-width: 768px) {
  .portfolio-hero {
    max-width: 700px;
    width: calc(100% - 60px);
    margin: 0 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
  }

  .portfolio-hero-left,
  .portfolio-hero-right {
    width: 100%;
  }

  .portfolio-hero-left {
    margin-top: 5rem;
  }

  .title {
    font-size: clamp(2.6rem, 7vw, 3.5rem);
  }

  .point {
    font-size: clamp(3.8rem, 9vw, 5rem);
  }

  .description-portfolio {
    width: 100%;
  }

  .porfolio-img {
    width: 50%;
  }

}

@media only screen and (max-width: 480px) {
  .portfolio-hero {
    max-width: 440px;
    width: calc(100% - 30px);
    margin: 0 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-between;

  }

  .portfolio-hero-left,
  .portfolio-hero-right {
    width: 100%;
    flex: none;
  }

  .portfolio-hero-left {
    margin-top: 4rem
  }

  .porfolio-img {
    width: 60%;
  }
}