.hero {
    max-width: 1160px;
    width: calc(100% - 80px);
    padding-top: 5rem;
    height: 85vh;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.hero-center,
.hero-left,
.hero-right {
    flex: 1;
    width: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.hero-center {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-left {
    align-items: flex-start;
}

.hero-left-text,
.hero-right-text {
    opacity: 0;
    flex: 1;
    transition: opacity 0.8s cubic-bezier(.4, 2, .6, 1), transform 0.8s cubic-bezier(.4, 2, .6, 1);
}

.hero-left-text h1,
.hero-right-text h1 {
    font-size: 4.5rem;
}

.hero-left-text {
    transform: translateX(-80px);
    align-content: center;
}

.hero-right-text {
    transform: translateX(80px);
    align-content: center;
}

.slide-in-left {
    opacity: 1;
    transform: translateX(0);
}

.slide-in-right {
    opacity: 1;
    transform: translateX(0);
}

.ellipse-yellow {
    position: absolute;
    width: 20px;
    top: 25%;
    left: 20%;
    ;
    height: auto;
    z-index: 2;
}

.union-blue {
    position: absolute;
    width: 30px;
    top: 70%;
    left: 25%;
    height: auto;
    z-index: 2;
}

.union-grey {
    position: absolute;
    width: 15px;
    top: 20%;
    right: 25%;
    height: auto;
    z-index: 2;
}

.hero-right {
    align-items: flex-end;
}

.union-yellow {
    position: absolute;
    width: 30px;
    top: 25%;
    right: 20%;
    height: auto;
    z-index: 2;
}

.ellipse-grey {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 70%;
    right: 25%;
    height: auto;
    z-index: 2;
}

.ellipse-blue-big {
    position: absolute;
    width: 30px;
    top: 40%;
    right: 100%;
    z-index: 2;
}

.portrait {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 90%;
    object-fit: contain;
    z-index: 1;
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: width 2s, height 2s, transform 2s, opacity 2s, pointer-events 2s;
}

.portrait.visible {
    opacity: 1;
    pointer-events: auto;
}

.hero p {
    margin-top: 5px;
    width: 300px;
}

@media only screen and (max-width: 960px) {

    .hero-left-text h1,
    .hero-right-text h1 {
        font-size: 4 rem;
    }

    .hero-left-text p,
    .hero-right-text p {
        font-size: 0.9rem;
        width: 220px;
    }

    .hero-right-text p {
        text-align: right;
    }

    .ellipse-blue-big {
        width: 30px;
        right: 90%;
    }

    .union-blue {
        width: 25px;
        left: 15%;
    }

    .ellipse-grey {
        right: 15%;
    }

    .union-grey {
        top: 10%;
        right: 20%;
    }
}

@media only screen and (max-width: 768px) {

    .hero {
        max-width: 700px;
        width: calc(100% - 60px);
        margin: 0 2rem;
        height: 80vh;
        padding-top: 3rem;
    }

    .hero-left-text h1,
    .hero-right-text h1 {
        font-size: clamp(2.6rem, 7vw, 3.5rem);
    }

    .hero p {
        width: 200px;
    }

    .portrait {
        left: 50%;
        top: 65%;
        height: 70%;
        z-index: 1000;
    }

    .ellipse-yellow {
        width: 20px;
        top: 22%;
        left: 15%;
    }

    .union-blue {
        width: 20px;
        top: 60%;
        left: 10%;
    }

    .ellipse-blue-big {
        width: 30px;
        top: 25%;
        right: 80%;
    }

    .ellipse-grey {
        width: 20px;
        top: 70%;
        right: 15%;
    }

    .union-yellow {
        width: 15px;
        top: 30%;
        right: 15%;
    }

    .union-grey {
        width: 20px;
        top: 15%;
        right: 20%;
    }


}

@media only screen and (max-width: 480px) {
    .hero {
        max-width: 440px;
        width: calc(100% - 30px);
        margin: 0 1rem;
        padding-top: 2rem;
        height: 70vh;
    }

    .hero p {
        width: 150px;
    }

    .portrait {
        left: 50%;
        top: 65%;
        height: 70%;
    }

    .ellipse-yellow {
        width: 15px;
        top: 25%;
        left: 12%;
    }

    .union-blue {
        width: 18px;
        top: 62%;
        left: 8%;
    }

    .ellipse-blue-big {
        width: 22px;
        top: 15%;
        right: 80%;
    }

    .union-grey {
        width: 15px;
        top: 25%;
        right: 25%;
    }

    .ellipse-grey {
        width: 17px;
        top: 60%;
        right: 10%;
    }

    .union-yellow {
        width: 18px;
        top: 15%;
        right: 12%;
    }


}