.about-hero {
    max-width: 1160px;
    width: calc(100% - 80px);
    padding-top: 5rem;
    height: 80vh;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.about-hero-left,
.about-hero-right {
    opacity: 0;
    flex: 1;
    transition: opacity 0.8s cubic-bezier(.4, 2, .6, 1), transform 0.8s cubic-bezier(.4, 2, .6, 1);
}

.about-hero-left {
    transform: translateX(-80px);
    align-content: center;
}

.about-hero-right {
    transform: translateX(80px);
}

.slide-in-left {
    opacity: 1;
    transform: translateX(0);
}

.slide-in-right {
    opacity: 1;
    transform: translateX(0);
}

.title-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.title-about h1 {
    margin: 0;
}

.title {
    font-size: 4.5rem;
}

.point {
    font-size: 6rem;
    color: #FFC00D;
}

.description h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.description {
    max-width: 470px;
}

.about-hero-right {
    position: relative;
    flex: 1;
    width: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.background-img {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-img {
    position: relative;
    left: 0%;
    bottom: 10%;
    width: 60%;
}

.code-img {
    position: relative;
    width: 60%;
    right: 0%;
}

@media only screen and (max-width: 960px) {
    .description h3 {
        font-size: 1.2rem;
        margin: 0.7rem 0;
    }

    .description p {
        font-size: 0.9rem;
    }

    .design-img {
        position: relative;
        left: 0%;
        bottom: 10%;
        width: 50%;
    }

    .code-img {
        position: relative;
        width: 50%;
        right: 0%;
    }

}


@media only screen and (max-width: 768px) {

    .about-hero {
        max-width: 700px;
        width: calc(100% - 60px);
        margin: 0 2rem;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80vh;
    }

    .about-hero-left,
    .about-hero-right {
        width: 100%;
    }

    .about-hero-left {
        margin-top: 5rem;
    }

    .title {
        font-size: clamp(2.6rem, 7vw, 3.5rem);
    }

    .point {
        font-size: clamp(3.8rem, 9vw, 5rem);
    }

    .design-img {
        position: relative;
        left: 0%;
        width: 35%;
        bottom: 25%;
    }

    .code-img {
        position: relative;
        width: 35%;
        left: 0%;
        bottom: 15%;
    }

    .description {
        width: 100%;
    }

    .description h3 {
        margin-top: 0.7rem;
        font-size: 1rem;
        margin-bottom: 0.7rem;
    }


}

@media only screen and (max-width: 480px) {
    .about-hero {
        max-width: 440px;
        width: calc(100% - 30px);
        margin: 0 1rem;
        flex-direction: column;
        flex-wrap: wrap;
        height: 70vh;
        justify-content: space-between;
    }

    .about-hero-left,
    .about-hero-right {
        margin: 0 1rem;
        width: 100%;
        flex: none;
    }

    .about-hero-left {
        margin-top: 4rem;
    }

    .about-hero-right {
        min-height: 220px;
        justify-content: center;
    }

    .description h3 {
        margin-top: 0.625rem;
        font-size: 1rem;
        margin-bottom: 0.625rem;
    }

    .description {
        width: 100%;
    }

    .background-img {
        top: 0;
        height: 100%;
    }

     .design-img {
        width: 40%;
        bottom: 15%;
    }

    .code-img {
        width: 45%;
        bottom: 10%;
    }
}